<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tarefa</th>
        <th scope="col" class="text-center">Marcar como feito</th>
        <th scope="col" class="text-center">Editar</th>
        <th scope="col" class="text-center">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista">
        <th scope="row">{{item.codigo}}</th>
        <td>{{item.descricao}}</td>
        <td class="text-center"><a href="javascript:void();" (click)="concluir(item.codigo)"><img src="https://png.icons8.com/material/24/000000/checkmark.png"></a></td>
        <td class="text-center"><a routerLink="cadastro/{{item.codigo}}"><img src="https://png.icons8.com/ios/24/000000/pencil-tip.png"></a></td>
        <td class="text-center"><a href="javascript:void();" (click)="excluir(item.codigo)"><img src="https://png.icons8.com/ios/24/000000/erase-filled.png"></a></td>
      </tr>
    </tbody>
  </table>